{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  {% if (accounts.length) %}
    {% for account in accounts %}
      {% include 'account.html' %}
    {% endfor %}

    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">

      <a href="/apikeys/new">create new Apikey</a>
    </h4>
  {% endif %}
{% endblock %}
